/* Wrapper da página garantindo altura mínima */
.pageWrapper {
  /* min-height: 60vh; Garante que o conteúdo ocupe toda a tela */
  display: flex;
  flex-direction: column; /* Organiza o conteúdo em coluna */
  justify-content: center; /* Centraliza verticalmente */
}

/* Estilização do conteúdo principal */
.mainContent {
  min-height: calc(20vh - 200px); /* Ajuste de altura considerando cabeçalho e rodapé */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  padding: 10px; /* Espaçamento interno */
  margin: 50px 0; /* Adiciona margem no topo e na parte inferior */
}

/* Caixa de conteúdo */
.container {
  text-align: center; /* Centraliza o texto */
  border: 2px solid #fdfdfd; /* Borda branca */
  padding: 40px; /* Espaçamento interno */
  border-radius: 30px; /* Bordas arredondadas */
  width: 600px; /* Define tamanho fixo */
  max-width: 90%; /* Responsividade */
  background-color: #f5f5dc; /* Cor de fundo */
  color: #2f1b14; /* Cor do texto */
  box-shadow: 0px 4px 12px 2f1b14(0, 0, 0, 0.2); /* Adiciona uma sombra para profundidade */
}

/* Botões */
.botoes {
  display: flex;
  flex-direction: column; /* Organiza verticalmente */
  gap: 20px; /* Adiciona espaço entre os botões */
  margin-top: 30px; /* Espaçamento superior */
}

button {
  padding: 14px 28px; /* Ajuste do tamanho */
  background-color: #8b4513; /* Cor padrão */
  color: #f5f5dc; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 12px; /* Bordas arredondadas */
  font-weight: bold; /* Negrito */
  cursor: pointer; /* Indicação de ação */
  font-size: 1.2rem; /* Ajuste da fonte */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza transição */
}

/* Efeito de hover */
button:hover {
  background-color: #000000; /* Cor ao passar o mouse */
  transform: scale(1.05); /* Leve aumento */
}

/* Estilização do corpo */
body {
  background-color: #ffffff !important; /* Cor de fundo */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove espaçamentos padrões */
}

/* Estilos para telas menores */
@media (max-width: 1024px) {
  .mainContent {
    padding: 15px;
    margin: 80px 0;
  }

  .container {
    max-width: 85%;
    padding: 35px 25px;
    border-radius: 25px;
  }
}

@media (max-width: 768px) {
  .mainContent {
    padding: 15px;
    margin: 60px 0;
  }

  .container {
    width: 90%;
    padding: 30px 20px;
  }

  button {
    font-size: 1rem;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 15px;
    margin: 50px 0;
  }

  .container {
    width: 95%;
    padding: 25px 15px;
    border-radius: 20px;
  }

  button {
    font-size: 0.95rem;
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .mainContent {
    margin: 40px 0;
  }

  .container {
    width: 98%;
    padding: 20px 10px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px;
  }
}
